:root {
  --bg-color-gradient-light: #0080c5;
  --bg-color-gradient-dark: #015785;
  --bg-form: #98cff927;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--bg-color-gradient-light),
    var(--bg-color-gradient-dark)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  justify-content: center;
  width: 100%;
}
article {
  display: flex;
  height: 90vh;
  width: 90%;
  background-color: var(--bg-form);
  border-radius: 5px;
  position: relative;
}
article div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding: 40px 80px;
}
input {
  outline: none;
  border: none;
  background-color: #c4d7ee;
  padding: 5px;
  border-radius: 5px;
}
.telefono-correo {
  display: flex;
  flex-direction: row;
}
.telefono {
  width: 35%;
  margin-right: 10px;
}
textarea {
  outline: none;
  border: none;
  resize: none;
  padding-left: 5px;
  background-color: #c4d7ee;
  border-radius: 5px;
}
label,
input[type="submit"] {
  margin-top: 20px;
}
label {
  color: #ebf6ff;
}
input[type="submit"] {
  background-color: #009bf9;
  color: white;
}
form h4,
form p {
  text-align: start;
  color: white;
}
.seccion-derecha {
  background: url("../img/svg-formatter-beautifier (2).png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 45%;
  background-size: 80%;
}
video {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}
.seccion-derecha {
  display: flex;
  justify-content: end;
}
.seccion-derecha p {
  color: white;
  padding-left: 10%;
}
.seccion-derecha p:nth-child(3) {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  article div:nth-child(2) {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .seccion-derecha {
    display: none;
  }
  article div:nth-child(2) {
    width: 100%;
  }
}
@media (max-width: 574px) {
  form p {
    display: none;
  }
  form {
    padding: 8%;
  }
  article {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .telefono-correo {
    flex-direction: column;
  }
  .telefono {
    width: 100%;
  }
}
