:root {
  --color-sombra-card-beneficios: 0px 0px 10px rgb(199, 198, 198);
}
.describir-beneficios {
  height: auto;
  display: flex;
  justify-content: center;
}
.item {
  background-color: var(--colores-card);
  height: 300px;
  width: 300px;
  box-shadow: var(--color-sombra-card-beneficios);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.item h5 {
  color: #12528d;
}

.icon {
  color: rgb(216, 46, 46);
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.desc {
  height: 80vh;
  display: flex;
  align-items: center;
}
