:root {
  --color-sombra-card-beneficios: 0px 0px 10px rgb(199, 198, 198);
}
.describir-beneficios {
  height: auto;
  display: flex;
  justify-content: center;
  margin-block: 60px;
}
.item {
  background-color: var(--colores-card);
  height: 300px;
  width: 300px;
  box-shadow: var(--color-sombra-card-beneficios);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  transition: all ease 0.5s;
}
.item:hover {
  transform: scale(1.05);
}

.item h5 {
  color: #12528d;
}

.icon {
  color: #f15555;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
