:root {
  --color-hover-boton: #fa5661;
}
.cotizaciones1 .formulario_imagen form:hover {
  transform: scale(1.01);
}

.cotizaciones1 .formulario_imagen form .enviar {
  z-index: 1;
  position: relative;
  transition: all 250ms;
  overflow: hidden;
}
.cotizaciones1 .formulario_imagen form .enviar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 0%;
  border-radius: 5px;
  background-color: var(--color-hover-boton);
  z-index: -1;
  transition: all 250ms;
}

.cotizaciones1 .formulario_imagen form .enviar:hover {
  color: aliceblue;
  box-shadow: 0px 0px 10px #fa5661;
}
.cotizaciones1 .formulario_imagen form .enviar:hover::before {
  width: 100%;
  height: 100%;
}
