/* Subrayado en el hover del link*/
/* .enlaces ul li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: all 0.2s;
}
.enlaces ul li a:hover:before {
  width: 100%;
} */
.enlaces ul li a {
  transition: all 0.3s;
}
.enlaces ul li a:hover {
  color: white;
  transition: all 0.3s;
  transform: translateY(3px);
}
