.dropdown-menu {
  transition: all ease 0.5s;
}
.enlaces ul li a {
  transition: all 0.3s;
}
.enlaces ul li a:hover {
  color: white;
  transition: all 0.3s;
  transform: translateY(3px);
}
/* Estilos de aparecer la lista de los dropdown (solo para el navbar en pantalla completa)*/
@media (min-width: 768px) {
  .navbar-nav li:hover > .menu-desplegado {
    transition: all ease 0.5s;
    display: block;
  }

  .menu-desplegado {
    display: none;
    position: absolute;
    transition: all ease 0.5s;
  }

  .menu-desplegado a {
    color: #000;
  }
}
/* Pantallas de celular */
@media (max-width: 564px) {
  .icon-computer {
    display: none;
  }
}
